<h2>Login</h2>

<form action="<%= session_url %>" method="POST">
<%= auth_token %>
    <label>Username:
        <input type="text" name="user[username]" value="<%= @user ? @user.username : "" %>">
    </label>
    <br>
    <label>Password:
        <input type="password" name="user[password]" value="">
    </label>
    <br>
    <input type="submit" value="Login">
</form>

<%# def session_url
    return "http://localhost:3000/session"
end %>
